{{#d-section pageClass="users"}}
  {{d-section pageClass="custom-directory"}}

  {{#load-more selector=".directory tbody tr" action=(action "loadMore")}}
    <div class="container">
      <div class='directory'>
        <div class="header">
          <h1>{{i18n "custom_directory.title"}}</h1>

          {{d-button label=showMoreBtnLabel
                    action=(action "toggleShowMore")}}
        </div>

        {{plugin-outlet name="users-top" connectorTagName='div' args=(hash model=model)}}
        <div class='clearfix'>
          {{#if isShowMore}}
            {{period-chooser period=period onChange=(action (mut period))}}
          {{/if}}

          {{text-field value=nameInput placeholderKey="directory.filter_name" class="filter-name no-blur"}}
        </div>

        {{#conditional-loading-spinner condition=model.loading}}
          {{#if model.length}}

            <table>
              <thead>
                {{directory-toggle field="name" order=order asc=asc rawLabel=(i18n "directory.total_rows" count=model.totalRows)}}
                {{#unless isShowMore}}
                  <th>{{i18n "custom_directory.email"}}</th>
                  <th>{{i18n "custom_directory.phone_number"}}</th>
                  <th>{{i18n "custom_directory.organization"}}</th>
                  <th>{{i18n "custom_directory.corporate_title"}}</th>
                {{else}}
                  {{directory-toggle field="likes_received" order=order asc=asc icon="heart"}}
                  {{directory-toggle field="likes_given" order=order asc=asc icon="heart"}}
                  {{directory-toggle field="topic_count" order=order asc=asc}}
                  {{directory-toggle field="post_count" order=order asc=asc}}
                  {{directory-toggle field="topics_entered" order=order asc=asc}}
                  {{directory-toggle field="posts_read" order=order asc=asc}}
                  {{directory-toggle field="days_visited" order=order asc=asc}}
                  {{#if showTimeRead}}
                    <th>{{i18n "directory.time_read"}}</th>
                  {{/if}}
                {{/unless}}
              </thead>
              <tbody>
                {{#each model as |item|}}
                  {{custom-directory-item item=item
                                          showTimeRead=showTimeRead
                                          isShowMore=isShowMore}}
                {{/each}}
              </tbody>
            </table>

            {{conditional-loading-spinner condition=model.loadingMore}}
          {{else}}
            <div class='clearfix'></div>
            <p>{{i18n "directory.no_results"}}</p>
          {{/if}}
        {{/conditional-loading-spinner}}

      </div>
    </div>
  {{/load-more}}
{{/d-section}}
