<td>{{custom-directory-user user=item.user}}</td>

{{#unless isShowMore}}
  {{#each customDirectoryFields as |f|}}
    {{#if (is-website f)}}
    <td><a href="{{get item f}}">{{get item f}}</a></td>
    {{else}}
    <td>{{get item f}}</td>
    {{/if}}
  {{/each}}
{{else}}
  <td>{{number item.likes_received}}</td>
  <td>{{number item.likes_given}}</td>
  <td>{{number item.topic_count}}</td>
  <td>{{number item.post_count}}</td>
  <td>{{number item.topics_entered}}</td>
  <td>{{number item.posts_read}}</td>
  <td>{{number item.days_visited}}</td>
  {{#if showTimeRead}}
    <td><span class='time-read'>{{format-duration item.time_read}}</span></td>
  {{/if}}
{{/unless}}
